@font-face {
  font-family: Source Han Sans CN;
  src: url('/fonts/SourceHanSansCN-VF.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-scrollbar: #fff;
  --c-scrollbar-thumb: #fff;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Source Han Sans CN;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--c-scrollbar);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-thumb);
}
