@font-face {
  font-family: Source Han Sans CN;
  src: url('/fonts/SourceHanSansCN-VF.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-thumb: #bbb;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Source Han Sans CN;
  &:not(.dark) article pre {
    @apply: bg-gray-100;
  }
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--c-scrollbar);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-thumb);
}

a {
  @apply: transition;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}
h2 {
  margin-top: 1.5em;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  margin-top: 1.25em;
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
h4 {
  margin-top: 1em;
  font-size: 1.5em;
  margin-bottom: 0.25em;
}
h1,
h2,
h3,
h4 {
  @apply: font-bold text-gray-700;
}
ol,
ul {
  list-style-type: initial;
  list-style-position: inside;
  li::marker {
    @apply: text-gray-500 ml-1;
  }
}
p {
  @apply: my-1em;
  a {
    @apply: underline decoration-gray-700 underline-op-30;
    &:hover {
      @apply: underline-op-100;
    }
  }
}
blockquote {
  @apply: italic ml--1.25em my-2em py-0.5em pl-0.8em overflow-hidden b-l-0.25em b-gray-300;
  p {
    @apply: c-gray-400 m-0;
  }
}
pre {
  @apply: px-0.8em py-1em rounded-2 overflow-auto;
  code .line {
    display: unset !important;
  }
}
:not(pre) > code {
  @apply: mx-0.2em px-0.2em py-0.1em bg-gray-100 rounded-1;
}
