@font-face {
  font-family: Source Han Sans CN;
  src: url('/fonts/SourceHanSansCN-VF.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-thumb: #bbb;
  --c-line: #05050520;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--c-bg);
  font-family: Source Han Sans CN;
  &.dark {
    --c-bg: #050505;
    --c-scrollbar: #111;
    --c-scrollbar-hover: #222;
    --c-line: #ffffff20;
  }
}

body {
  @apply: c-gray-700 dark:c-gray-400 transition font-medium;
}

body::before {
  --size: 45px;
  content: '';
  @apply: fixed inset-0 w-full h-full op-50;
  background:
    linear-gradient(90deg, var(--c-line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--c-line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  // mask: radial-gradient(ellipse at 25% 75%, transparent 15%, var(--c-bg) 100%);
  pointer-events: none;
  z-index: -1;
}

// #region toggle dark theme
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
// #endregion

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--c-scrollbar);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-thumb);
}

a {
  @apply: transition;
}

h1 {
  @apply: text-8 mt-6 mb-3;
}
h2 {
  @apply: text-7 mt-5 mb-2;
}
h3 {
  @apply: text-6 mt-4 mb-1;
}
h4 {
  @apply: text-5 mt-3 mb-1;
}
h1,
h2,
h3,
h4 {
  @apply: font-bold text-gray-700;
}
ol,
ul {
  list-style-type: initial;
  list-style-position: inside;
  li::marker {
    @apply: text-gray-500 ml-1;
  }
}
:not(pre) > code {
  @apply: mx-0.2em px-0.2em py-0.1em bg-gray-100 rounded-1;
}

.dark {
  h1,
  h2,
  h3,
  h4 {
    @apply: text-gray-100;
  }
  :not(pre) > code {
    @apply: bg-gray-800;
  }
}
